.parallax-container {
  position: relative;
}

/* Parallax image container */
.parallax-image-container {
  background-image: url('pics/IMG_20220724_135258.jpg');
  height: 400px;
  background-attachment: fixed;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax image container */
.parallax-image-container-2 {
  background-image: url('pics/IMG_20220724_135258.jpg');
  height: 400px;
  background-attachment: fixed;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
}