/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

// Base document colors
$body-bg-alpha: -0.8;
$body-color: black;
$link-color: #75AADB;

body {
background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.title-block-banner {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding: 40px 0;
  text-align: center;
  color: white;
}

.title-block-banner h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;