/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

// Base document colors
$body-bg-alpha: -0.8;
$body-color: black;
$link-color: #75AADB;

body {
//background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
background-color: #fffcfd;
background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.title-block-banner {
  background-color: #fffcfd;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  //background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding: 40px 0;
  text-align: left;
  color: black;
}

.title-block-banner h1 {
            margin: 0;
            font-size: 2.5em;
            font-weight: 300;
            text-align: center;
            color: black;
            font-family: 'Garamond';
            line-height: 1.4;
            letter-spacing: 1px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding: 20px 0;
            position: relative;
        }
        .ampersand {
            font-family: 'Garamond', cursive;
            font-size: 2.5em;
            font-weight: normal;
            color: black;
            display: inline-block;
            margin: 0 10px;
            vertical-align: middle;
        }

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;